<h3>Listado de Proveedores</h3>
<a class="btn  btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a><br>
<table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
        <tr class="filters">
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{ proveedor.nombre }}</td>
            <td><a href="mailto:{{ proveedor.email}}">{{ proveedor.email }}</a></td>
            <td>{{ proveedor.telefono }}</td>
            <td>
                <button type="button" class="btn btn-success" routerLink="/editprovee/{{presupuesto.id$}}">Editar</button>
            </td>

            <td><button class="btn btn-danger" (click)="eliminarPresupuesto(presupuesto.id$)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>